<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h2 class="text-5xl font-bold my-5">About Us</h2>
    <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi repellendus, sed dolorum consequuntur ad optio doloremque vel a deleniti provident aliquam accusantium reprehenderit, aliquid adipisci eos cumque aut odit atque autem nihil vero error, praesentium unde molestiae! Impedit culpa perspiciatis doloremque eius fugiat delectus aut porro, blanditiis repudiandae, tempora iste optio dignissimos modi aspernatur! Illum, omnis est. Iure, mollitia exercitationem!
    </p>
</section>

