<section class="flex flex-col md:flex-row md:pd-10 py-20 gap-y-10">
    <div class="flex-1 grid grid-cols-2 gap-4 text-center">
        <div>
            <img src="favicon.svg" class="w-20 m-auto">
            <p class="mt-4">Dev Management</p>
        </div>
        <div>
            <img src="favicon.svg" class="w-20 m-auto">
            <p class="mt-4">Data Analysis</p>
        </div>
        <div>
            <img src="favicon.svg" class="w-20 m-auto">
            <p class="mt-4">Machine Learning</p>
        </div>
        <div>
            <img src="favicon.svg" class="w-20 m-auto">
            <p class="mt-4">Chat GPT-3: Today</p>
        </div>
    </div>
    
    <div class="flex flex-1 flex-col gap-y-10 text-center">
        <h2 class="text-5xl font-bold">More Text</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates recusandae dolorum aut cum nam alias reiciendis ipsam maiores quas harum porro, sed voluptatibus nulla cupiditate non pariatur possimus placeat numquam, illo et ab quidem eos corrupti. Itaque nostrum ipsa, iusto veritatis quis sint vero dolorum iste sit. Molestiae, et eaque!</p>
    </div>
</section>