---
import Layout from "../layouts/Layout.astro";


---
<Layout title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore molestiae at ipsum quam quidem totam id! Alias obcaecati velit laboriosam earum facere, incidunt ducimus eum. Ex saepe ratione numquam? Laborum cumque tempora dolorem architecto, soluta culpa obcaecati quae. Eaque harum error praesentium obcaecati libero esse debitis placeat, qui aut nostrum iure in velit delectus eum unde. Fugit, perspiciatis! Quibusdam suscipit accusamus, quae deleniti saepe asperiores sequi sunt provident sapiente omnis! Deserunt officia consequuntur ipsam cum unde delectus porro commodi nulla necessitatibus similique, sit nihil reprehenderit voluptas eos qui natus ab? Recusandae ipsa id similique repellat saepe dolorem. Magnam, sed officiis?</p>
</Layout>