---
import Layout from "../layouts/Layout.astro";
import Projects from '../components/landing/Projects.astro'


---
<Layout title="Proyectos">
    <div class="bg-zinc-900 rounded-xl p-20 my-4 text-center ">
        <h1 class="text-5xl font-bold my-5" >Mis Proyectos</h1>
        <p class="text-zinc-300">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit culpa quis velit voluptas impedit quibusdam id quo voluptatem maiores consectetur atque similique odit nemo, accusamus necessitatibus voluptates minus asperiores rerum?
        </p>
    </div>
    <Projects/>
</Layout>